<h1 class="header">Science & Tech Nerd News</h1>

<button id="scrape">Scrape</button>

    {{#each result}}
<a href="{{this.link}}" target="_blank"><div class="articleContainer">
        <h1 class="title">{{this.title}}</h1>
        <p><span class="summary">{{this.summary}}</span></p>
</div>
</a>
    {{/each}}