<h1>Hola mundo!</h1>

<button id="scrape">Scrape</button>

    {{#each result}}
<div class="articleContainer">
        <h3><a href="{{this.link}}" target="_blank">{{this.title}}</a></h3><br/>
        {{this.summary}}
        <br/><br />
</div>
    {{/each}}