.header {
    font-family: 'Notable', sans-serif;
    text-align: center;
    color: hotpink;
}

#scrape {
    margin-bottom: 15px;
}

.articleContainer {
    border: 3px solid darkslategray;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;
    position: relative;
    height: auto;
    padding: 20px;
    text-align: left;
    width: 100%;
}

.articleContainer a:link, a:visited {
    color: blue;
    text-decoration: none;
}

.articleContainer:hover {
    color: green;
    border: 3px solid hotpink;
}

.title {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.summary {
    font-family: 'Raleway', sans-serif;
}