body {
    background-color: rgba(155, 234, 226, 0.619);
}

.header {
    font-family: 'Notable', sans-serif;
    text-align: center;
    color: hotpink;
    font-size: 72px;
    letter-spacing: 2px;
    /* background: -webkit-linear-gradient(hotpink, rgb(72, 17, 26));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

#scrape {
    margin-bottom: 15px;
}

.articleContainer {
    border: 3px solid darkslategray;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;
    position: relative;
    height: auto;
    padding: 20px;
    text-align: left;
    width: 100%;
}

.articleContainer a:link, a:visited {
    color: blue;
    text-decoration: none;
}

.articleContainer:hover {
    border: 3px solid hotpink;
}

.article:hover a {
    color: yellowgreen;
}

.title {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.summary {
    font-family: 'Raleway', sans-serif;
}


.postComment {
    margin: 10px 0 10px 0;
}

.commentBody {
    margin-right: 10px;
}

.commentTimestamp {
    font-size: 10px;
}

.fa-trash {
    padding-left: 10px;
    color: blue;
}

.fa-trash:hover {
    color: darkslategrey;
    cursor: pointer;
}
